.game-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}

.play-waiting-area {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .play-button {
    font-size: 160px;
    color: $primary;
    background-color: transparent;
    border: none;
    display: block;

    &:hover {
      color: $primary-hover;
    }
  }

  .description {
    color: $text-color;
    font-size: 30px;
    margin-top: 10px;
  }
}

.stop-button {
  font-size: 60px;
  color: $primary;
  background-color: transparent;
  border: none;
  margin: auto 10px 60px;

  &:hover {
    color: $primary-hover;
  }
}

.game-finish-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  color: $text-color;
}

.result-text {
  font-size: 50px;
  text-align: center;
}

.score-area {
  margin: 40px 10px auto;
  color: $text-color;

  .score-title {
    font-size: 35px;
  }

  .score-content {
    font-size: 30px;
  }
}
