@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: rotate 4s linear infinite;
  font-size: 160px;
  height: 100%;
  color: $primary;
  background-color: transparent;
  border: none;
  margin: auto;
  display: block;
}
