.selection-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

.radio-button-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.radio-button {
  padding: 0;

  &.checked {
    color: $primary;
  }

  &.unchecked {
    color: #D9D9D9;
  }
}

.radio-button-label {
  &:hover {
    color: $text-color-hover;
  }
}
