#root {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  width: 100%;
  position: relative;
}
