.individual-score-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  color: $text-color;
}

.back-button {
  width: 60px;
  height: 60px;
  font-size: 50px;
  color: $primary;
  background-color: transparent;
  border: none;
  margin: auto auto 40px;

  &:hover {
    color: $primary-hover;
  }
}

.score-container {
  padding: 0 100px;
  display: flex;
  font-size: 20px;
}

.subtitle {
  font-size: 30px;
  color: $primary;
}

.song-names {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.song-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
