.button-container {
  width: calc((100% - 800px) / 2);
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 30;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 0;
  justify-content: flex-end;
  align-items: center;

  .button {
    width: 80px;
    height: 80px;
    font-size: 60px;
    color: $primary;
    color: $primary;
    background-color: transparent;
    border: none;

    &:hover {
      color: $primary-hover;
    }
  }
}
