.song-select-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  color: $text-color;
}

.setting-button {
  width: 80px;
  height: 80px;
  font-size: 60px;
  color: $primary;
  color: $primary;
  background-color: transparent;
  border: none;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: 60px;

  &:hover {
    color: $primary-hover;
  }
}

.title {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.selection {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    list-style: none;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;

    &:hover {
      color: $primary;
    }
  }
}

.caption-container {
  margin: auto 10px 40px;

  .caption {
    padding: 10px;
    background-color: $background-secondary;
  }
}
