.title {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}

.selection {
  padding-left: 0;
}

.selection > li {
  list-style: none;
  text-align: center;
  font-size: 30px;
}

.selection > li:hover {
  color: #467DA5;
}

.caption {
  margin: auto 10px 40px;
}
