.play-button {
  font-size: 10rem;
  height: 100%;
  color: #382DFF;
  background-color: transparent;
  border: none;
  margin: auto;
  display: block;
  position: relative;
  z-index: 10;
}

.play-button:hover {
  color: #5162FF;
}

@keyframes appearHorizontal {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active-lyrics {
  position: absolute;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.active-lyrics > span {
  animation: appearHorizontal 0.5s;
  font-size: 40px;
  line-height: 42px;
  height: 42px;
}

.media {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
}
