.play-button {
  font-size: 10rem;
  height: 100%;
  color: #382DFF;
  background-color: transparent;
  border: none;
  margin: auto;
  display: block;
  position: relative;
  z-index: 10;
}

.play-button:hover {
  color: #5162FF;
}

.wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.wrapper .char {
  font-weight: bold;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 100;
}

.control {
  display: flex;
  align-items: center;
}

.control .ui.button {
  margin-right: 5px;
  flex-grow: 0;
}

.control .ui.button:last-child {
  margin-right: 0;
}

.control .seekbar {
  flex-grow: 1;
  padding: 0 10px;
}

.media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 20;
}
