.play-button {
  font-size: 10rem;
  height: 100%;
  color: #01E1FF;
  background-color: transparent;
  border: none;
  margin: auto;
  display: block;
  position: relative;
  z-index: 10;

  transition-property: opacity;
  transition-duration: 1s;
  opacity: 1;
}

.play-button:hover {
  color: #00ACE0;
}

@keyframes fadeDisappear {
  0% {
    font-size: 10rem;
    opacity: 1;
  }
  100% {
    font-size: 11rem;
    opacity: 0;
  }
}

.play-button.not-show {
  opacity: 0;
  animation: fadeDisappear 1s;
}

@keyframes appearHorizontal {
  0% {
    font-size: 10px;
    transform: translateX(70px);
    opacity: 0;
  }
  100% {
    font-size: 40px;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearVertical {
  0% {
    font-size: 10px;
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    font-size: 40px;
    transform: translateY(0);
    opacity: 1;
  }
}

.active-lyrics {
  position: absolute;
  top: 0;
  z-index: 5;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.active-lyrics > span {
  animation: appearHorizontal 0.5s;
  font-size: 40px;
  line-height: 42px;
  height: 42px;
}

.active-lyrics.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.active-lyrics.vertical > span {
  animation: appearVertical 0.5s;
  font-size: 40px;
  line-height: 42px;
  height: 42px;
}

.fixed-lyrics {
  color: #01E1FF;
  position: absolute;
  top: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.fixed-lyrics > span {
  position: absolute;
}

.media {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
}
